[submodule "dev_modules/webc-ors"]
	path = dev_modules/@ocdla/webc-ors
	url = https://github.com/ocdladefense/webc-ors.git
[submodule "dev_modules/webc-oar"]
	path = dev_modules/@ocdla/webc-oar
	url = https://github.com/ocdladefense/webc-oar.git
[submodule "dev_modules/node-ors"]
	path = dev_modules/@ocdla/ors
	url = https://github.com/ocdladefense/node-ors.git
	branch = for-parser
[submodule "dev_modules/node-web"]
	path = dev_modules/@ocdla/web
	url = https://github.com/ocdladefense/node-web.git
[submodule "dev_modules/node-modal"]
	path = dev_modules/@ocdla/modal
	url = https://github.com/ocdladefense/node-modal.git
[submodule "dev_modules/ors-viewer"]
	path = dev_modules/@ocdla/ors-viewer
	url = https://github.com/ocdladefense/ors-viewer.git
[submodule "dev_modules/lib-http"]
	path = dev_modules/@ocdla/lib-http
	url = https://github.com/ocdladefense/node-lib-http.git
	branch = development
[submodule "dev_modules/@ocdla/global-components"]
	path = dev_modules/@ocdla/global-components
	url = https://github.com/ocdladefense/global-components
	branch = main
[submodule "dev_modules/@ocdla/outline"]
	path = dev_modules/@ocdla/outline
	url = https://github.com/ocdladefense/outline.git
	branch = master 
[submodule "dev_modules/@ocdla/table-of-contents"]
	path = dev_modules/@ocdla/table-of-contents
	url = https://github.com/ocdladefense/table-of-contents.git
	branch = master 