#toc {
    transition: transform 0.2s ease-out;
    transform: translateX(-100%);
}

#toc.show {
    transform: translateX(0);
}

#touch-area {
    display: grid;
    grid-template-columns: 0fr 1fr;
    /* initial state: zero-width column */
    transition: grid-template-columns 0.2s ease-out;
}

#touch-area.show-grid-cols {
    grid-template-columns: 200px 1fr;
    /* animate to desired width */
}