


.toc a,
.toc .label,
#modal .label {
    padding: 8px;
    display: block;
    text-decoration: none;
    color: var(--text-darker);
    font-size: var(--nav-font-size);
    -webkit-font-smoothing: antialiased;
}



.toc a {
    border-radius: 2px;
}

.toc a:hover,
.toc a.current {
    background-color: var(--secondary-light-violet);
}

.toc .label {
    font-weight: 700;
    padding: 4px;
    padding-left: 0px;
    margin-bottom: -1px;
    padding-bottom: 0px;
}

.toc {
    display: none;
}

.toc-chapter-name {
    margin-top: 10px;
}

div > a.toc-active {
    background: rgb(218, 165, 32);
    background: linear-gradient(90deg, rgba(218, 165, 32, 1) 0%, rgba(218, 165, 32, 0.0) 100%);
    border-radius: 2px;
    font-weight: bold;
}